@font-face {
  font-family: 'CSChatThaiUI';
  src: url('../fonts/CSChatThaiUI/CSChatThaiUI.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CSChatThaiUI/CSChatThaiUI.woff') format('woff'),
  url('../fonts/CSChatThaiUI/CSChatThaiUI.ttf') format('truetype'),
  url('../fonts/CSChatThaiUI/CSChatThaiUI.svg#CSChatThaiUI') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}